<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
    <style>
        main {
            width: 80%;
            margin: 50px auto;
            display: flex;
        }

        #about {
            display: flex;
        }

        @media screen and (max-width:1370px) {
            #aboutimg {
                display: none;
            }
        }
    </style>
</head>

<body>
    <header>
        <nav>
            <ul id="com_logo">
                <li class="hl_nav"><a href="#"><img class="logo" src="/static/img/LOGO.PNG" alt="GUMSHUDA"></a></li>
            </ul>

            <ul class="hu_nav">
                <li class="hl_nav"><a class="bor" href="/">Home</a></li>
                <li class="hl_nav"><a class="bor" href="./services.html">Services</a></li>
                <li class="hl_nav"><a class="bor" href="./about.html">About</a></li>
                <li class="hl_nav"><a class="bor" href="./contact_us.html">Contact</a></li>
            </ul>
            <ul class="hu_nav">
                <li class="hl_nav"><a href=""><button class="Sign_up">Sign Up</button></li></a>
                <li class="hl_nav"><a href="./login.html"><button class="btn">Login</button></li></a>
            </ul>
            <button class="hamburger" onclick="show()"><div class="bar"></div></button>
        </nav>
        <nav class="menu">
            <ul class="menuitems">
                <li><a href="./index.html">Home</a></li>
                <li><a href="./services.html">Services</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./contact_us.html">contact_us</a></li>
                <li><a href=""><button class="Sign_up">Sign Up</button></li></a>
                <li><a href="./login.html"><button class="btn">Login</button></li></a>
            </ul>
        </nav>
    </header>
    <div id="empty"></div>
    <hr>
    <section class="error">
        <p>To view this website please use a larger screen size device</p>
    </section>
    <main>
        <section id="about">
            <section class="msec_3_1">
                <h2 class="headings">ABOUT US</h2>
                <p>This website will be used to help people and families to find their loved ones who are missing. The
                    idea is to match the available images of missing people to the images in database. The image search
                    will be happen irrespective of the time span that is, user will be able to compare the current
                    images with the old images or vice versa as available in database. The image search will be powered
                    by AI to identify the images irrespective of time. </p>
                <div>
                    <h3 style="margin: 30px;font-size: 30px;">Utilities</h3>
                    <ol type="1">
                        <li style="list-style-position: inside;">To help tracing missing people</li>
                        <li style="list-style-position: inside;">For security reasons for criminal activities </li>
                        <li style="list-style-position: inside;">Unidentified bodies etc.</li>
                    </ol>
                </div>
            </section>
            <section id="aboutimg">
                <img src="/static/img/About-Us.jpg" alt="About-Us">
            </section>
        </section>
    </main>

    <footer>
        <div id="footer1">
            <div>
                <img class="logo" src="/static/img/LOGO.PNG" alt="GUMSHUDA">
            </div>
            <br>
            <div>
                <p>Copy Right &copy; All Rights Reserved 2022-2025</p>
            </div>
        </div>
    </footer>
    <script src="./javascript/engine.js"></script>
</body>

</html>